body {
    overflow: auto;
}

h6 {
    margin-top: 6px;
}

ul{
    list-style-type: none;
}

#search-list {
    padding: 0%;
}

#search-field {
    margin-bottom: 10px;
}

#uv-index {
    padding: 4px;
    border-radius: 4px;
}

#grid-container {
    display: grid;
    grid-template: auto auto / auto auto auto;
    padding-left: 20px;
}

.city-search {
    grid-area: 1 / 1 / span 2 / span 1;
}

.todays-weather-info {
    grid-area: 1 / 2 / span 1 / span 2;
}

.five-day-forecast {
    grid-area: 2 / 2 / span 1 / span 2;
    margin-top: 30px;
}

.five-day-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day-card {
    border-radius: 10px;
    padding: 10px;
}

footer {
    background-color: thistle;
    padding-left: 20px;
}

.jumbotron {
    background-color: thistle;
    padding: 20px 20px 20px 20px;
}